body,
.app {
  margin: 0;
  background-color: #ededed;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: white;
  border-radius: 5px;
  margin: 25px;
  padding: 25px 20px;
  box-shadow: 0px 12px 22px -12px rgba(0, 0, 0, 0.36);
  border-left: 5px solid red;
}

li:hover {
  cursor: pointer;
}

li.completed {
  background-color: white;
  border-radius: 5px;
  margin: 25px;
  padding: 25px 20px;
  box-shadow: 0px 12px 22px -12px rgba(0, 0, 0, 0.36);
  border-left: 5px solid green;
  /* text-decoration: line-through; */
}

.crossed-line {
  text-decoration: line-through;
  border-left: 5px solid green;
}
